
/* @group Clear/fix styling */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*--- ie6*-----*/
* html .group {
	height: 1%;
}

/*----- ie7 -----*/
*:first-child+html .group {
	min-height: 1px;
}

/* @end */


/* @group Main styling */

body {
	padding: 100px;
	width: 80%;
	background-color: #000000;
	min-width: 850px;
}

.mainside {
	width: 500px;
}

.container {
	width: 100%;
	position: relative;
}

.bodycontent {
	float: left;
	clear: left;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

.view {
	margin-bottom: 20px;
}

p,h1,h2,h3,h4,h5,h6,a {
	color: #FFF;
}

/* @end */

/* @group Nav Styling */

#mainmenu {
	float: left;
}

#mainmenu ul {
	padding-left: 0;
}

#mainmenu ul li {
	display: inline;
	margin-right: 20px;
	text-decoration: none;
}

#loginmenu {
	float: right;
	list-style: none;
}

#loginmenu ul li {
	list-style: none;
}

/* @end */




