
/*------------   Group/clear fix styling   ---------------*/

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
/*--- ie6*-----*/
* html .group {
	height: 1%;
}

/*----- ie7 -----*/
*:first-child+html .group {
	min-height: 1px;
}


/*------------   Main Styling   ---------------*/


body {
	margin: 10px auto;
	width: 950px;
}

.mainside {
	width: 500px;
}

.container {
	width: 100%;
	position: relative;
	position: relative;
	border: 1px solid #333;
	padding: 30px;
}

.bodycontent {
	float: left;
	clear: left;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

.view {
	margin-bottom: 20px;
}

/*------------   Nav Styling   ---------------*/

#mainmenu {
	float: left;
}

#mainmenu ul {
	padding-left: 0;
}

#mainmenu ul li {
	display: inline;
	margin-right: 20px;
	text-decoration: none;
}

#loginmenu {
	float: right;
	list-style: none;
}

#loginmenu ul li {
	list-style: none;
}




